extends ../ui_layout.pug

block content
  .ui.container
    br
    .ui.breadcrumb
      a.section(href="/") Home
      i.right.angle.icon.divider
      a.section(href="/courses") Missions
      i.right.angle.icon.divider
      .active.section #{course.title}
    br
    h1.ui.header.red#mod-title(style="font-weight: bold !important;") #{course.title} 
    .ui.top.attached.fluid.segment
      .ui.grid 
        .row
          .eight.wide.column#classification
            strong CLASSIFICATION: 
            | TOP SECRET 
          .eight.wide.column#classified-by 
            strong CLASSIFIED BY: 
            | DART HQ
    .ui.attached.segment#middle-section-outline
      .ui.grid 
        .row 
          .twelve.wide.column
            p Uncover how scammers impersonate tech support to gain access to personal information and control your device. Learn how these scams work and how to protect yourself.
            button.ui.huge.blue.button(onclick="window.location=user.moduleProgress[course.slug].link") Start Mission

          .four.wide.column 
            img(src=course.image_link alt=`Image for ${course.title}`)
      br

      hr
      
      h2.ui.header.centered#learn-title(style="font-weight: 500 !important;")  
        .content
          i.search.icon
          | Activities
      .ui.vertical.basic.segments#course-outline
        each lesson in course.lessons
          .ui.basic.segment
            .ui.grid
              .row
                .two.wide.centered.column
                  span.fake-checkbox
                .nine.wide.column
                  h3 #{lesson.title}
                .five.wide.right.aligned.column
                  .ui.blue.inverted.button.small(onclick=`window.location='/course-player?module=${course.slug}&section=${lesson.title}&page=objectives'`) Start
          .ui.divider

      h2.ui.header.centered(style="margin-top: 40px; margin-bottom: 40px;") 
        .content(style="position: relative;")  
          | Complete all activities to earn a certificate
          img(src="/images/certificate-icon.png" style="width: 50px; height: 50px; position: absolute; left: -55px; top: -5px" alt="certificate icon")

    .ui.bottom.attached.segment
      h2(style="color: #285362; font-weight: 500 !important;") Learning Materials 
      p If you would like to learn the material offline, you can download the content below:
      div.ui.two.column.stackable.grid#downloadGrid
        .column
          h3.glossary.pdf #{course.title} Course PDF
          a.ui.inline.fluid.labeled.icon.button(href=`/pdf/${course.slug}-course.pdf`, download=`${course.slug}-course.pdf`)
            i.download.icon.graySquare
            .inline
              p Download Course PDF

        .column
          h3.glossary.pdf #{course.title} Glossary PDF
          a.ui.inline.fluid.labeled.icon.button(href=`/pdf/${course.slug}-course.pdf`, download=`${course.slug}-course.pdf`)
            i.download.icon.graySquare
            .inline
              p Download Glossary PDF

      br
    .ui.grid.computer.only.tablet.only#avatar-encourage-start
      .row
        .sixteen.wide.column
          .speech-div
            .centerme
              button.ui.massive.blue.button(onclick="window.location=user.moduleProgress[course.slug].link") Start Mission

            img.dart_image.ui.medium.image(src=user.avatarImg alt="image of your avatar")

            .ui.large.label.blue-pointing#speechBubble
              p#speechText
                | The mission is waiting! Click 'Start Mission' to begin.

block styles
  link(rel='stylesheet', href='/css/module-about.css')
